@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

body {
    padding-bottom: 4em;
}

h1 {
    line-height: 1.3;
}

article {
    max-width: 60rem;
    margin: auto;
    font-family: Arial, sans-serif;
    line-height: 1.5
}

p {
    position: relative;
}